
.pizza-slider-container {
    @apply absolute w-[500px] h-[500px];
}

.pizza-slider-container img {
    @apply object-cover w-[500px] h-[400px];
}

.pizza-slider-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: auto;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.nav-button.prev {
    left: 10px;
}

.nav-button.next {
    right: 10px;
}

.slide:not(.active) {
    opacity: 0;
}